/* Universal styles 
============================== */

:root {
  --primary-color: #3f72e5;
  --font-size-h4: 13px;
  --font-size-h4-mobile: 13px;
  --font-size-h6: 10px;
}

.h4 {
  font-size: var(--font-size-h4);
}

@media (max-width: 749px) {
  .h4 {
    font-size: var(--font-size-h4-mobile);
  }
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background: lightblue; */
}

* {
  font-family: "Roboto", serif;
}

/* Announcement styles
============================== */
.announcement {
  background-color: var(--primary-color);
  height: 30px;
}

.announcement-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;

  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  align-items: center;
  height: 100%;
}

.announcement-arrow {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.announcement-text {
  color: #fff;
}

.announcement-arrow svg {
  color: #fff;
  fill: #fff;
}

/* About styles
============================== */

.about-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.about-social-item {
}

.about-social {
  display: flex;
}

.about-info {
  display: flex;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-right {
  display: flex;
}

.about-info-item {
  margin-left: 15px;
}

.about-social-item {
  margin-left: 15px;
}

/* .......................  */
