/* Universal styles [START]
============================== */
:root {
  --primary-color: #3f72e5;
  --text-color: #303c43;
  --text-color-dark: #252f35;
  --text-color-very-dark: #1a1c1d;
  --text-color-very-light: #ffffff;
  --border-color-light: #dadce0;
  --background-color: #f5f5f5;
  --background-input: #e7e8e9;
  --basic-transition: all 0.25s cubic-bezier(0.104, 0.204, 0.492, 1);
  --border-radius-medium: 16px;
}

body {
  background-color: var(--background-color);
}

.icon-small {
  width: 14px;
  height: 14px;
  display: inline-block;
}

.h1 {
  font-size: 50px;
}

.h1--xs {
  font-size: 48px;
}

.h2 {
  font-size: 34px;
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 18px;
  line-height: 26px;
}

.h4--xs {
  font-size: 17px;
}

.h5 {
  font-size: 16px;
}

.h5--xs {
  font-size: 15px;
}

.h6 {
  font-size: 13px;
}
.h6--xs {
  font-size: 12px;
}

.h6--xxs {
  font-size: 10px;
}

/* media query para mobile */
@media (max-width: 749px) {
  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 30px;
  }

  .h3 {
    font-size: 17px;
  }

  .h4 {
    font-size: 13px;
  }
  .h5 {
    font-size: 12px;
  }

  .h6 {
    font-size: 10px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* background: lightblue; */
}

* {
  font-family: "Roboto", serif;
}
/* Universal styles [END]
============================== */

/* Announcement section [START]
============================== */
.announcement {
  background-color: var(--primary-color);
  height: 30px;
}
.announcement-container {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  height: 100%;
}
.announcement-arrow {
  width: 15px;
  height: 15px;
  display: inline-block;
}
.announcement-text {
  color: #fff;
}
.announcement-arrow {
  color: #fff;
  fill: #fff;
}

/* Announcement section [END]
============================== */

/* About section [START]
============================== */
.about-social-item {
}
.about {
  border-bottom: 2px solid var(--border-color-light);
}
.about-container {
  height: 38px;
  align-items: center;
}

.about-social {
  display: flex;
}
.about-info {
  display: flex;
}
.about-container {
  display: flex;
  justify-content: space-between;
}
.about-right {
  display: flex;
}
.about-info-item {
  margin-left: 15px;
  color: var(--text-color);
}
.about-social-item {
  margin-left: 10px;
}
.about-info > *:nth-child(1) {
  margin-left: 0;
}
.about-icon {
  fill: var(--text-color);
  color: var(--text-color);
}

.icon-small {
}

.about-icon-usa {
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

/* About section [END]
============================== */

/* Header section [START]
============================== */
.header-container-input {
  background: var(--background-input);
  border-radius: 5px;
  height: 44px;
  width: 100%;
  position: relative;
}

.header-search-input {
  border: none;
  outline: none;
  padding-left: 15px;
  width: 340px;
  height: 44px;
}

.header-logo {
  align-items: center;
  justify-content: center;
  display: inline-block;
  max-width: 136px;
  width: 100%;
}

.header-container {
  display: flex;
  height: 60px;
  align-items: center;
  height: 100%;
}

.header-link {
  align-items: center;
  justify-content: center;
}

.header-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-right {
  align-items: baseline;
  display: flex;
}

.header-icon {
  fill: var(--text-color);
  color: var(--text-color);
  width: 20px;
  height: 16px;
}

.header-icon--search {
  width: 20px;
  height: 16px;
}

.header-icon--user {
  width: 19px;
  height: 20px;
}

.header-icon--cart {
  width: 24px;
  height: 20px;
}

.header-submit {
  position: absolute;

  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  padding: 10px;
  height: 100%;
}

.header-top {
  padding: 15px 0px;
}

.header-icon--user {
  margin-left: 15px;
}

.header-icon--cart {
  margin-left: 15px;
}

/*HEADER BOTTOM*/

.header-bottom-list-one {
  display: flex;
}

.header-bottom {
  display: flex;

  justify-content: space-between;
}

.header-bottom-list {
  display: flex;
}

.header-bottom-item {
  margin-right: 30px;
  font-weight: 500;
  color: var(--text-color);
}

.header-bottom-item--last {
  margin-right: 0;
}

.header-bottom-right .header-bottom-item {
  color: #9ea2a6;
  transition: var(--basic-transition);
}

.header-bottom-right .header-bottom-item:hover {
  color: var(--text-color);
}

/* Header section [END]
============================== */

/* Hero section [START]
============================== */

.hero-slide {
  position: relative;
}

.hero-text {
  position: relative;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding-left: 50px;
  max-width: 60%;
  width: 100%;
}

.hero-title {
  font-weight: 700;
}

.hero * {
  color: var(--text-color-very-light);
}

.hero-controller {
  width: 130px;
  display: flex;
  height: 42px;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--text-color-very-light);
  border-radius: var(--border-radius-large);
  justify-content: space-between;
  margin-right: 20px;
  border-radius: 500px;
}

.hero-controller-slide {
  font-weight: 500;
}

.hero-controller * {
  color: var(--text-color-dark);
}

.hero-arrow-icon--svg {
  fill: var(--text-color);
}

.hero-arrow-icon--svg * {
  stroke: var(--text-color);
}

.hero-arrow {
  width: 38px;
  height: 38px;
  box-shadow: 0 4px 6px #00000014;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  height: 500px;
}

.hero-bg-img {
  height: 100%;
}

.hero-buy-btn {
  align-items: center;
  justify-content: center;

  height: 50px;
  background-color: #fff;
  color: var(--text-color);
  border-radius: var(--border-radius-large);
  margin-right: 10px;

  padding-top: 15px;
  padding-bottom: 15px;

  padding-left: 30px;
  padding-right: 30px;
}

.hero-btn {
  font-weight: 500;
  border-radius: 500px;
}

.hero-learn-arrow--svg {
  width: 17px;
  height: auto;
  color: var(--text-color-very-light);
  fill: var(--text-color-very-light);
}

.hero-learn-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  line-height: 1.5;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.hero-bg-img {
  margin-top: 20px;
  border-radius: var(--border-radius-medium);
  width: 100%;
}

.hero-pre-title {
  margin-bottom: 20px;
  font-weight: 500;
}

/* Hero section [END]
============================== */

/* Promotion section [START]
============================== */

.promotion {
  margin-bottom: 150px;
}

.promotion-blocks {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.promotion-block1 {
  align-items: center;
}

.promotion-shop-arrow {
  height: 10px;
  width: 10px;
}

.promotion-img {
  height: 120px;
  width: 120px;
  border-radius: var(--border-radius-medium);
}

.promotion-arrow--svg {
  width: 17px;
  height: auto;
  color: var(--text-color-dark);
  fill: var(--text-color-dark);
}

.promotion-block {
  display: flex;
  padding: 10px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px 0px;
  border-radius: var(--border-radius-medium);
  max-width: 33.33% !important;
  width: 100%;
  justify-content: space-between;
}

.promotion-photo {
  max-width: 120px;
  height: 120px;
  width: 100%;
  min-height: 120px;
  min-width: 120px;
}

.promotion-img {
  width: 100%;
  height: 100%;
}

.promotion-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px 15px;
}

.promotion-title {
  font-weight: 600;
  color: var(--text-color);
}

.promotion-shop {
  font-weight: 500;
  color: var(--primary-color);
}
.promotion-arrow--svg {
  fill: var(--primary-color);
}

.promotion-link {
  display: flex;
  justify-content: start;
}

.promotion-block + * {
  margin-left: 15px;
}
/* Promotion section [END]
============================== */
